.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px 0px;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    margin: 0px auto;
    padding: 20px 0px;
    background-color: beige;
}

/*Podemos agregar cosas a la clase jumbotron de Bootstrap*/

.jumbotron {
    padding: 70px 30px;
    margin: 0px auto;
    background: beige;
    color: #00000d;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: black;
}